{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Login{% endblock %}
{% block main_component %}
  <div class="jumbotron">
    <h3>Please Log In, or <a href="#">Sign Up</a></h3>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#" class="btn btn-lg btn-primary btn-block"><i class="fa fa-facebook"></i> Facebook</a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#" class="btn btn-lg btn-info btn-block"><i class="fa fa-google-plus"></i> Google</a>
      </div>
    </div>
    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">or</span>
    </div>
    <form method="post">
    {% crispy form %}
    <input type="submit" name="log_in" class="btn btn btn-primary" value="Log In">
    <a class="pull-right" href="#">Forgot password?</a>
    </form>
  </div>
{% endblock main_component %}
